<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>

    <p th:text="${usuario.username}"></p>

    <div th:each="archivo : ${usuario.archivos}">
        <a>Archivo: </a>
        <a th:href="@{'/users/download/' + ${archivo.id}}" th:text="${archivo.nombre}"></a>
    </div>

    <form method="POST" enctype="multipart/form-data" action="/users/upload">
        <p>Subir archivo</p>

        <input type="file" name="file" />
        <input type="submit" value="Subir" />
    </form>
</body>
</html>
